'/*clase de slider*/

.btn-prev1{
	font-size: 5px;
	padding: 20px;
	border-radius: 60%;
}

.btn-next1{
	font-size: 5px;
	padding: 20px;
	border-radius: 60%;
}

.btn-prev2{
	font-size: 5px;
	padding: 20px;
	border-radius: 60%;
}

.btn-next2{
	font-size: 5px;
	padding: 20px;
	border-radius: 60%;
}

