*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
 
 nav{
 	width: 100%;
 	height: 80px;

 }

img{
	padding-top: 78px;
}

.brand{
	margin-left: 5%;
	line-height: 80px;

}

.brand a{
	color: #ff0000;
	font-size: 30px;
}
 nav ul{
 	float: right;
 	margin-right: 5%;
 }

 nav ul li{
 	display: inline-block;
 	line-height: 80px;
 	margin-left: 10px;
 }

 nav ul li a{
 	color: #ff0000;
 	font-size: 25px;
 }
 .brand img{
 	width: 200px;
 	height: 85px;
 }

 form .title{
 	color: #252525;
 	font-size: 35px;
 	font-weight: 200;
 	margin-bottom: 20px;
 	text-align: center;

 }

 form {
 	display: flex;
 	flex-direction: column;
 	background: #fff;
 	text-align: right;
 }

 form label input {
 	border-color: #ff0000; 
 	color: #ff0000;
 	border-bottom: solid 1px #ff0000;
 	height: 50px;

 	 padding: 1rem;
    width: 35%;
    margin-bottom: 10px;
    
    
    border-radius: 6px;
    font-family: inherit;
    font-size: 17px;
    text-align: left;



 }
 form label {
 	margin-bottom: 35px;
 }
 form .link {
 	color: #ff0000;
 	margin-bottom: 15px;
 }

.logo img {
	display: block;
	margin: auto;
	width: 200px;
	height: 35%;
}
.container-profile {
	width: 40%;
	margin-left: 100px;
	transform: translateY(-50px);
}